<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <img src="/images/banner.png" alt="" class="banner" >
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/habilidades">Habilidades</a></li>
            <li><a href="/proyecto">Portafolio</a></li>
            <li><a href="/estudios">Estudios</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>


    <div class="estudios">
   
        <div class="estudio">
            <img src="/images/guatemala-universidadmarianogalvez.jpg" alt="Título del Estudio 1" class="imagen-estudio">
            <div class="descripcion-estudio">
                <h3>INGENIERIA EN SISTEMAS</h3>
                <p>Es una de las instituciones educativas más prestigiosas de Guatemala. Su programa de Ingeniería en Sistemas de Información y 
                    Ciencias de la Computación está diseñado para formar profesionales con una sólida base en la teoría y práctica de la computación.
                    Los estudiantes adquieren habilidades en desarrollo de software, gestión de bases de datos, redes, y seguridad informática, preparándolos 
                    para enfrentar los desafíos tecnológicos en diversos sectores.</p>
            </div>
        </div>
        <div class="estudio">
            <img src="/images/intecap.png" alt="Título del Estudio 2" class="imagen-estudio">
            <div class="descripcion-estudio">
                <h3>TECNICO EN REDES</h3>
                <p>El Instituto Técnico de Capacitación y Productividad (INTECAP) es una reconocida institución en Guatemala que ofrece una amplia gama de cursos 
                    técnicos y de formación profesional. En el área de Tecnologías de la Información (TI), INTECAP ofrece cursos especializados que abarcan desde
                     fundamentos de informática y programación, hasta certificaciones
                     en tecnologías específicas. Estos cursos están orientados a mejorar las competencias laborales y facilitar la inserción en el mercado laboral de TI.</p>
            </div>
        </div>
        <div class="estudio">
            <img src="/images/edutek.png" alt="Título del Estudio 3" class="imagen-estudio">
            <div class="descripcion-estudio">
                <h3>DESARROLLO WEB</h3>
                <p>Edutek es una plataforma educativa que se especializa en brindar cursos de Tecnologías de la Información (TI) 
                    en modalidad online y presencial. Sus programas están diseñados para ofrecer formación práctica en áreas como 
                    desarrollo web, administración de sistemas, bases de datos, y ciberseguridad. Edutek se enfoca en proporcionar 
                    herramientas y conocimientos actualizados que permiten a sus estudiantes destacarse en el competitivo campo de la tecnología.</p>
            </div>
        </div>
    </div>
    
</body>
</html>