<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <img src="/images/banner.png" alt="" class="banner" >

   <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/habilidades">Habilidades</a></li>
            <li><a href="/proyecto">Portafolio</a></li>
            <li><a href="/estudios">Estudios</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>

    <div class="habilidades">
        
        <div class="habilidad">
            <h3>Programación en C#</h3>
            <img src="/images/cSHARP.png" alt="C#" class="icono-habilidad">
            <div class="barra-progreso">
                <div class="progreso" style="width: 50%;"></div>
            </div>
            <p>50%</p>
        </div>
        <div class="habilidad">
            <h3>.NET</h3>
            <img src="/images/NET.png" alt=".NET" class="icono-habilidad">
            <div class="barra-progreso">
                <div class="progreso" style="width: 80%;"></div>
            </div>
            <p>80%</p>
        </div>
        <div class="habilidad">
            <h3>Base de datos SQL SERVER</h3>
            <img src="/images/SQL.png" alt="SQL Server" class="icono-habilidad">
            <div class="barra-progreso">
                <div class="progreso" style="width: 70%;"></div>
            </div>
            <p>70%</p>
        </div>
    </div>
    
    
</body>
</html>