<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTAFOLIO</title>
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>
<body>
    
    <img src="/images/banner.png" alt="" class="banner" >

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/habilidades">Habilidades</a></li>
            <li><a href="/proyecto">Portafolio</a></li>
            <li><a href="/estudios">Estudios</a></li>
            <li><a href="/contacto">Contacto</a></li>
      
        </ul>
    </nav>
       

        <div class="seccion-foto-descripcion">
            <img src="/images/foto.jpg" alt="" class="foto">
            <div class="inTex">
                <h1><strong>Ingeniero en Sistemas de Información <br> Y Ciencias de la Computación</strong></h1>
            </div>
            <div class="descripcion">
                <p>Soy un profesional especializado en el diseño, desarrollo, implementación y gestión de sistemas de <br>
                    información y soluciones tecnológicas. Con una sólida formación en Ciencias de la Computación, <br>
                    poseo una profunda comprensión de los fundamentos de la programación, estructuras de datos,<br>
                     algoritmos y arquitectura de software, que me permiten crear soluciones eficientes y escalables.</p>
            </div>
        </div>
        


   <!-- <img src="/images/foto.jpg" alt="" class="foto">
    <div class="inTex">
        <h1> <strong>Ingeniero en Sistemas de Información <br> Y Ciencias de la Computación</strong></h1>
    </div>
        <br>
    <div class="descripcion">
        <p>Soy un profesional especializado en el diseño, desarrollo, implementación y gestión de sistemas de <br>
            información y soluciones tecnológicas. Con una sólida formación en Ciencias de la Computación, <br>
            poseo una profunda comprensión de los fundamentos de la programación, estructuras de datos,<br>
             algoritmos y arquitectura de software, que me permiten crear soluciones eficientes y escalables.</p>
    </div>
   -->
   
</body>
</html>