<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTOS</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/normalize.css">
   
</head>
<body>
    <img src="/images/banner.png" alt="" class="banner" >

   <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/habilidades">Habilidades</a></li>
            <li><a href="/proyecto">Portafolio</a></li>
            <li><a href="/estudios">Estudios</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>

    <div class="galeria-imagenes">
    <div class="item">

       <a href="/proyecto1" >
        <img src="/images/Proyecto1compi.png" alt="Imagen 1">
        </a>
        <p>Este proyecto está diseñado con el lenguaje <br>
           de programación C++, en el cual trata sobre <br>
            un compilador que realiza un análisis léxico, <br>
            sintáctico y semántico</p>
        <a href="https://github.com/josetzaj/COMPILADOR.git" target="_blank">github</a>
    </div>
    <div class="item">
        <a href="/proyecto2" >
        <img src="/images/Proyecto2taller.png" alt="Imagen 2"></a>
        <p>Este sistema tiene como objetivo llevar el <br>
        control de un taller de reparación de computadoras <br>
        donde se registra todo el proceso de recepción, <br>reparación y entrega</p>
        <a href="https://github.com/josetzaj/TALLER.git" target="_blank">github</a>
    </div>
    <div class="item">
        <a href="/proyecto3">
        <img src="/images/Proyecto3burger.png" alt="Imagen 3"></a>
        <p>El sistema se realizó en C++ y trata de un auto <br>
        pedido para un restaurante de comida rápida, <br>
        donde el usuario puede gestionar su pedido <br>
        desde alguna pantalla</p>
        <a href="https://github.com/josetzaj/krusty_burguer.git" target="_blank">github</a>
    </div>
    <div class="item">
        <a href="/proyecto4">
        <img src="/images/Proyecto4ahorrcado.png" alt="Imagen 4"></a>
        <p>Este proyecto en Java es un juego de ahorcado <br>
            con niveles de dificultad. Está diseñado para <br>
            niños de primaria</p>
        <a href="https://github.com/josetzaj/AHORRCADO" target="_blank">github</a>
    </div>
    <div class="item">
        <a href="/proyecto5">
        <img src="/images/Proyecto5.png" alt="Imagen 5"></a>
        <p>Este proyecto fue desarrollado para una farmacia <br>
            usando programación de nodos y árboles <br>
            para mayor velocidad y compatibilidad</p>
        <a href="https://github.com/josetzaj/FARMACIA.git" target="_blank">github</a>
    </div>
    <!-- Nuevos proyectos añadidos -->
    <div class="item">
        <a href="/proyecto6">
        <img src="/images/MRU.png" alt="Imagen 6"></a>
        <p>Este proyecto fue desarrollado <br>
           con html y css3 con JS <br>
           calcula el MRU y MRUV</p>
        <a href="https://josepacheco2.github.io" target="_blank">Has click para ver</a>
    </div>
    <div class="item">
        <a href="/proyecto7">
        <img src="/images/iggs.png" alt="Imagen 7"></a>
        <p>esta aplicacion fue desarrollado <br>
           con JavaScrip haciendo uso de diferentes <br>
           formulas para calcular el IGSS</p>
        <a href="https://pachecotzaj.github.io" target="_blank">Has click para ver</a>
    </div>
    <div class="item">
        <a href="/proyecto8">
        <img src="/images/etica.png" alt="Imagen 8"></a>
        <p>La pagina web esta enfocado en una clase<br>
           de pagina educativa que nos da a entender<br>
          los principios de una vida plema en la Etica </p>
        <a  href="https://johnychiroy.github.io/proyectoetica/" target="_blank">Has click para ver</a>
    </div>
</div>

    

</body>
</html>