<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTAFOLIO</title>
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/estilos_proyecto.css">

</head>
<body>
    
    <img src="/images/banner.png" alt="" class="banner" >

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/habilidades">Habilidades</a></li>
            <li><a href="/proyecto">Portafolio</a></li>
            <li><a href="/estudios">Estudios</a></li>
            <li><a href="/contacto">Contacto</a></li>
      
        </ul>
    </nav>
       


    <div class="contenedor">
        <h1>COMPILADOR </h1>
        <p class="fecha">Fecha de creación: 15 de Octubre 2023</p>
        <p class="autor">Autor: José Everildo</p>
        <div class="descripcion">
    <p>Este proyecto está desarrollado en C++. Es un sistema que implementa un compilador completo, capaz de realizar un análisis léxico, sintáctico y semántico de lenguajes de programación. El compilador incluye las siguientes características:</p>
    
   
        <p>Análisis Léxico:</strong> Utiliza expresiones regulares para dividir el código fuente en tokens, facilitando la identificación de palabras clave, operadores y otros elementos del lenguaje.</p>
       <p>Análisis Sintáctico:</strong> Implementa un parser basado en un árbol de análisis (AST) para verificar la estructura del código y garantizar que cumpla con las reglas gramaticales del lenguaje.<p>
       <p>Análisis Semántico:</strong> Realiza la verificación de tipos y la resolución de nombres para asegurar que las operaciones en el código sean válidas en el contexto dado.<p>
       <p>Generación de Código Intermedio:</strong> Transforma el AST en una representación intermedia, optimizando el código para mejorar la eficiencia de la ejecución.<p>
        <p>Generación de Código Objetivo:</strong> Produce código de máquina o bytecode que puede ser ejecutado por una máquina virtual o un entorno de ejecución específico.<p>
   
    <p>Este sistema está diseñado para ayudar a los estudiantes a comprender en profundidad cómo funciona un compilador, permitiéndoles experimentar con cada fase del proceso de compilación y analizar los resultados. Además, el proyecto incluye ejemplos de lenguajes simples que los usuarios pueden probar y modificar, promoviendo el aprendizaje práctico.</p>
</div>

    </div>
</body>
</html>
